/* Minimal styles */
html,
body {
    height: 100%;
    margin: 0;
    background: #7ec8ff;
    font-family: Arial
}

body {
    display: flex;
    align-items: center;
    justify-content: center
}

canvas {
    background: #063;
    border-radius: 6px;
    display: block
}

#score {
    position: fixed;
    right: 12px;
    top: 12px;
    color: #fff;
    font-weight: bold
}

.controls {
    position: fixed;
    left: 12px;
    bottom: 18px;
    user-select: none
}

.controls .row {
    display: flex;
    gap: 6px
}

.controls button {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.06);
    color: #fff;
    font-size: 18px
}

@media(min-width:800px) {
    .controls {
        display: none
    }
}